<div class="container">
    <h1>Welcome to {{module.name}}</h1>
    <div class="section" id="pretest">
        <h2>This is supposed to be the module pretest</h2>
        <p>I'll have to figure out how to put forms in here eventually</p>
    </div>
    <div class="divider"></div>
    <div class="section" id="lesson">
        <h2>This is the start of the module lesson</h2>
        <p class="flow-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ultrices dui sapien eget mi. Ut etiam sit amet nisl purus. Mollis aliquam ut
            porttitor leo a diam. Risus quis varius quam quisque. Vel fringilla est ullamcorper eget. Ac turpis
            egestas sed tempus urna et. Dolor sit amet consectetur adipiscing elit duis tristique sollicitudin nibh.
            Ac tortor dignissim convallis aenean et tortor. Interdum consectetur libero id faucibus nisl tincidunt
            eget nullam. Vulputate mi sit amet mauris.
        </p>
        <br />
        <blockquote>
            <h3>This might be like a middle of lesson question!</h3>
            <form action="/modules/submit" method="post">
                <h5>{{questions.[0].text}}</h5>
                <p>
                    <label for="q11">
                        <input type="radio" name="q1" id="q11" value="0" {{checkQuestion userRes.[0].answer "0"}}>
                        <span>{{questions.[0].answers.[0]}}{{{correctOrWrong userRes.[0].started "0" questions.[0].correctAns}}}</span>
                    </label>
                </p>
                <p>
                    <label for="q12">
                        <input type="radio" name="q1" id="q12" value="1" {{checkQuestion userRes.[0].answer "1"}}>
                        <span>{{questions.[0].answers.[1]}}{{{correctOrWrong userRes.[0].started "1" questions.[0].correctAns}}}</span>
                    </label>
                </p>
                <h5>This is question 2!</h5>
                <p>
                    <label for="q21">
                        <input type="radio" name="q2" id="q21" value="0" {{checkQuestion userRes.[1].answer "0"}}>
                        <span>{{questions.[1].answers.[0]}}{{{correctOrWrong userRes.[0].started "0" questions.[1].correctAns}}}</span>
                    </label>
                </p>
                <p>
                    <label for="q22">
                        <input type="radio" name="q2" id="q22" value="1" {{checkQuestion userRes.[1].answer "1"}}>
                        <span>{{questions.[1].answers.[1]}}{{{correctOrWrong userRes.[0].started "1" questions.[1].correctAns}}}</span>
                    </label>
                </p>
                <input type="hidden" name="moduleId" value="{{module.id}}">
                <input type="submit" value="OK">
            </form>
        </blockquote>
        <br />
        <p class="flow-text">
            Pellentesque habitant morbi tristique senectus et netus. Suspendisse potenti nullam ac tortor.
            Consectetur purus ut faucibus pulvinar elementum integer enim neque volutpat. At elementum eu facilisis
            sed odio morbi quis commodo odio. Nam at lectus urna duis convallis convallis tellus. Facilisis sed odio
            morbi quis commodo odio aenean sed. Eleifend quam adipiscing vitae proin sagittis nisl. Morbi tristique
            senectus et netus et malesuada. In fermentum et sollicitudin ac orci phasellus egestas. Sit amet luctus
            venenatis lectus magna fringilla urna porttitor. Nibh praesent tristique magna sit. Quam id leo in vitae
            turpis massa sed. Laoreet non curabitur gravida arcu. Massa placerat duis ultricies lacus sed turpis
            tincidunt. Et molestie ac feugiat sed lectus vestibulum mattis. Sit amet justo donec enim diam
            vulputate. Posuere morbi leo urna molestie. Sit amet dictum sit amet justo. Purus semper eget duis at
            tellus. Auctor elit sed vulputate mi sit amet mauris commodo.
        </p>
        <br />
        <p class="flow-text">
            At imperdiet dui accumsan sit amet nulla facilisi. Faucibus pulvinar elementum integer enim neque
            volutpat. Praesent semper feugiat nibh sed pulvinar. Id eu nisl nunc mi ipsum faucibus vitae aliquet.
            Ornare arcu dui vivamus arcu felis bibendum. Justo nec ultrices dui sapien eget mi proin sed. Etiam non
            quam lacus suspendisse faucibus. Aliquam vestibulum morbi blandit cursus risus. Fermentum et
            sollicitudin ac orci phasellus. Elit duis tristique sollicitudin nibh sit amet commodo nulla.
            Pellentesque elit ullamcorper dignissim cras tincidunt lobortis feugiat vivamus. Nam libero justo
            laoreet sit.
        </p>
    </div>
    <div class="divider"></div>
    <div class="section" id="posttest">
        <h2>This should be the start of the post test</h2>
        <p>More forms yay!!</p>
    </div>
</div>