<div class="container">
    <h1>Welcome to {{module.name}}</h1>
    <div class="divider"></div>
    <div class="section" id="lesson">
        <h2>{{module.description}}</h2>
        <br />
        <p class="flow-text">
            {{module.text.intro}}
        </p>
        <br />
        <div class="video-container">
            <iframe src="{{module.videoURL}}"
            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </div>
        <br />
        {{#each module.text.paragraphs}}
            <p class="flow-text">
                {{{this}}}
            </p>
            <br />
        {{/each}}
        <div class="divider"></div>
        <blockquote>
            <h3>Questions!</h3>
            <form action="/modules/submit" method="post">
                <h5>{{questions.[0].text}}</h5>
                <p>
                    <label for="q11">
                        <input type="radio" name="q1" id="q11" value="0" {{checkQuestion userRes.[0].answer "0"}}>
                        <span>{{questions.[0].answers.[0]}}{{{correctOrWrong userRes.[0] "0" questions.[0].correctAns}}}</span>
                    </label>
                </p>
                <p>
                    <label for="q12">
                        <input type="radio" name="q1" id="q12" value="1" {{checkQuestion userRes.[0].answer "1"}}>
                        <span>{{questions.[0].answers.[1]}}{{{correctOrWrong userRes.[0] "1" questions.[0].correctAns}}}</span>
                    </label>
                </p>
                <h5>{{questions.[1].text}}</h5>
                <p>
                    <label for="q21">
                        <input type="radio" name="q2" id="q21" value="0" {{checkQuestion userRes.[1].answer "0"}}>
                        <span>{{questions.[1].answers.[0]}}{{{correctOrWrong userRes.[1] "0" questions.[1].correctAns}}}</span>
                    </label>
                </p>
                <p>
                    <label for="q22">
                        <input type="radio" name="q2" id="q22" value="1" {{checkQuestion userRes.[1].answer "1"}}>
                        <span>{{questions.[1].answers.[1]}}{{{correctOrWrong userRes.[1] "1" questions.[1].correctAns}}}</span>
                    </label>
                </p>
                <input type="hidden" name="moduleId" value="{{module.id}}">
                <input type="submit" value="OK">
            </form>
        </blockquote>
        <br />
        <div class="divider"></div>
    </div>
</div>